@use '../../colors.scss' as *;

.searchbar {
  width: 40%;
  padding: 16px 0;

  &__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 14px;
    background-color: $white;
    color: $black;

    &:focus {
      outline: none;
      border-color: $primary-blue;
    }
  }
}
