$primary-blue: #00607a;
$secondary-blue: #004052;

$white: #fefefe;
$black: #000000;
$gray-light: #ecf0f1;
$gray-dark: #7f8c8d;

$accent-color: #e74c3c;
$highlight-color: #00bcd4;

$transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.8);

$box-shadow-default: 10px 2px 4px rgba(0, 0, 0, 0.1);
